<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools/crypto.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/tools/crypto.js') }}"></script>
    <title>Crypto Tools</title>
</head>

<body>
    {% if current_user.is_authenticated %}
    {% include 'navL.html' %}


    {% else %}
    {% include 'nav.html' %}

    {% endif %}
    {% block content %}
    {% endblock %}

    <div class="xor" style="text-align:center;">
        <h2 style="margin-left: 10px ;margin-top:   75px ">XOR</h2>
        <p style="text-align:center">Automatically detects whether input is in binary or hexadecimal!</p>

        <div class="input" style="text-align:center">
            <textarea id="a" placeholder="xor input 1"></textarea>
            <textarea id="b" placeholder="xor input 2"></textarea>
        </div>
        <p class="output">No input</p>
    </div>
    <br><br><br><br>
    <div class="hexx">
        <h2 style="text-align:center">Hex converter</h2>
        <p style="text-align:center">To convert decimal to hexadecimal, type a decimal number. To convert hexadecimal to
            decimal, type 0x followed by a hexadecimal number. </p>
        <div class="input" style="text-align:center">
            <textarea id="a" placeholder="hex/dec integer"></textarea>
        </div>
        <p class="output" style="text-align:center"> No input</p>
    </div>
    <br><br><br><br>

    <div class="b64">
        <h2 style="text-align:center">Base 64 converter</h2>
        <p style="text-align:center">To convert to base64, preface the input with ~. Use normally to convert from
            base64.</p>
        <div class="input" style="text-align:center">
            <textarea id="a" placeholder="string/b64 encoded string"></textarea>
        </div>
        <p class="output" style="text-align:center"> No input</p>
    </div>


</body>

</html>