<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')
      }}">
    <title>stAk CTF</title>

  </head>
  <body>
    <!-- Display logged in/out navbar -->
    {% if current_user.is_authenticated %}

    {% include 'navL.html' %}

    {% else %}

    {% include 'nav.html' %}

    {% endif %}

    {% block content %}
    {% endblock %}


    <h1 style="text-align:center; margin-top:10%">Welcome to Stak Suite!</h1>
    <p style="text-align:center">The best online collection of CTF tools! </p>
    <div class="container">
      <button class="button" onclick="location.href='/ctf'" style="width:300px">Cryptography</button>
    </div>
  </body>
</html>
