<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>stAk CTF</title>
</head>
<body>
  {% if current_user.is_authenticated %}
    {% include 'navL.html' %}


  {% else %}
    {% include 'nav.html' %}

  {% endif %}
  {% block content %}
  {% endblock %}
    <h1  style = "text-align:center">Cryptography Tools</h1>
    <p style = "margin: 3%; text-align:center">For miscellaneous tools and data conversion, see general. For more advanced RSA exploitation, see RSA. For prime factoring / prime database, see database.</p>

    <div class="container">
    <button  class = "button" onclick="location.href='/tools/crypto'">General</button>
    <button  class = "button" onclick="location.href='/tools/rsa'">Rsa</button>
  </div>
</body>
</html>
