<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')
      }}">
    <link rel="stylesheet" href="{{ url_for('static',
      filename='css/tools/crypto.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',
      filename='js/tools/rsa.js') }}"></script>
    <title>Rsa Tools</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}

    {% include 'navL.html' %}

    {% else %}

    {% include 'nav.html' %}

    {% endif %}

    {% block content %}
    {% endblock %}


    <div class="container">
      <select id='menuHandler' onchange="cS()" class="select_mate">
        <option value='Encrypt'> Encrypt</option>
        <option value='Decrypt'>Decrypt</option>
        <option value='Totient'>Generate Totient</option>
        <option value='PEM'>PEM decoder</option>
        <option value='automatic'>Automatic exploiter</option>
      </select>
    </div>
    
    <div id="Encrypt" class="setting">
      <form action="/tools/rsa" method="post">

        <h1>Encrypt</h1>
        <div class="input">
          <textarea maxlength="1500" name="n" , placeholder="n"></textarea>
          <textarea maxlength="1500" name="e" , , placeholder="e"></textarea>
          <textarea maxlength="1500" name="m" , placeholder="message"></textarea>
          <br><br>
          <input type="submit" class="submitbutton">
        </div>
        <p class="output"></p>
        <p>Ciphertext: {{c }}</p>
      </form>
    </div>

    <div id="Decrypt" class="setting">

      <form action="/tools/rsa" method="post">

        <h1>Decrypt</h1>
        <div class="input">
          <textarea maxlength="1500" name="N" , placeholder="n"></textarea>
          <textarea maxlength="1500" name="D" , , placeholder="d"></textarea>
          <textarea maxlength="1500" name="C" , placeholder="ciphertext"></textarea>
          <br><br>
          <input type="submit" class="submitbutton">
        </div>
        <p class="output"></p>
        <p>Plaintext: {{m}}</p>
      </form>
    </div>

    <div id="Totient" class="setting">

      <form action="/tools/rsa" method="post">

        <h1>Totient generator</h1>
        <div class="input">
          <textarea maxlength="1500" name="p" , placeholder="p"></textarea>
          <textarea maxlength="1500" name="q" , , placeholder="q"></textarea>
          <textarea maxlength="1500" name="E" , , placeholder="e"></textarea>
          <br><br>
          <input type="submit" class="submitbutton">
        </div>
        <p class="output"></p>
        <p>Totient: {{TOT}}</p>
      </form>
    </div>

    <div id="PEM" class="setting">

      <form action="/tools/rsa" method="post">

        <h1>PEM decoder</h1>
        <div class="input">
          <textarea maxlength="6400" name="pem" , placeholder="PEM CONTENT"></textarea>
          <br><br>
          <input type="submit" class="submitbutton">
        </div>
        <p class="output"></p>
        <p>N, E, P, Q and D as applicable: {{PEM}}</p>
      </form>
    </div>

    <div id="automatic" class="setting">

      <form action="/tools/rsa" method="post">

        <h1>Automatic RSA exploiter</h1>
        <div class="input">
          <textarea maxlength="1500" name="eee" , placeholder="e"></textarea>
          <textarea maxlength="1500" name="nnn" , placeholder="n"></textarea>
          <textarea maxlength="1500" name="ccc" , placeholder="c"></textarea>
          <br><br>
          <input type="submit" class="submitbutton">
        </div>
        <p class="output"></p>
      </form>
      <p>Status: {{success}}</p>
      {% if success == "Success!" %}

      <p>Results: {{ow}} {{ME}} {{DBF}}</p>
      {% endif %}
    </div>
  </body>

</html>