<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools/crypto.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/tools/crypto.js') }}"></script>
    <title>Rsa Tools</title>
</head>
<body>
  {% if current_user.is_authenticated %}
    {% include 'navL.html' %}


  {% else %}
    {% include 'nav.html' %}

  {% endif %}
  {% block content %}
  {% endblock %}
    <form action="/tools/rsa" method="post">

        <h3>Encrypt</h3>
        <div class="input">
            <textarea name="n", placeholder="n"></textarea>
            <textarea name="e", , placeholder="e"></textarea>
			<textarea name="m" , placeholder="message (as a string)"></textarea>
			<input type="submit">
        </div>
        <p class="output"></p>
    </div>
	Ciphertext: {{c }}

	<form action="/tools/rsa" method="post">

        <h3>Decrypt</h3>
        <div class="input">
            <textarea name="N", placeholder="n"></textarea>
            <textarea name="D", , placeholder="d"></textarea>
			<textarea name="C" , placeholder="ciphertext)"></textarea>
			<input type="submit">
        </div>
        <p class="output"></p>
    </div>
	Plaintext: {{m}}

	<form action="/tools/rsa" method="post">

        <h3>Totient generator</h3>
        <div class="input">
            <textarea name="p", placeholder="p"></textarea>
            <textarea name="q", , placeholder="q"></textarea>
			<textarea name="E", , placeholder="e"></textarea>

			<input type="submit">
        </div>
        <p class="output"></p>
    </div>
	Totient: {{TOT}}

	<form action="/tools/rsa" method="post">

        <h3>PEM decoder</h3>
        <div class="input">
            <textarea name="pem", placeholder="PEM CONTENT"></textarea>

			<input type="submit">
        </div>
        <p class="output"></p>
    </div>
	N, E, P, Q and D as applicable: {{PEM}}

	<form action="/tools/rsa" method="post">

        <h3>MUSH general rsa cracker</h3>
        <div class="input">
            <textarea name="eee", placeholder="e"></textarea>
            <textarea name="nnn", placeholder="n"></textarea>
            <textarea name="ccc", placeholder="c"></textarea>

			<input type="submit">
        </div>
        <p class="output"></p>
    </div>
	OWIENER: {{ow}}
	<br>
	MinuteE: {{ME}}
	<br>
	Status: {{success}}
</body>
</html>
