<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>stAk CTF</title>
</head>
<body>
  {% if current_user.is_authenticated %}
    {% include 'navL.html' %}


  {% else %}
    {% include 'nav.html' %}

  {% endif %}
  {% block content %}
  {% endblock %}
    <h1>stAk - CTF Tools</h1>
    <a href="/tools/crypto">General cryptography tools</a>
	<br>
	<a href="/tools/rsa">Rsa tools</a>
</body>
</html>
